<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>
	<h1>Hi <%= String(name).toUpperCase() %></h1>
	<p>
		Grade : 
		<% if(value >= 90) { %>
			Very Good
		<% } else if(value >= 80 && value < 90) { %>
			Good
		<% } else if(value >= 75 && value < 80) { %>
			Enough
		<% } else { %>
			Bad
		<% } %>
	</p>
	<p>Bioadata :</p>
	<ol>
		<% for(const key in data) { %>
			<li>
				<%= key  %> : <%= data[key] %>
			</li>
		<% } %>
	</ol>
</body>
</html>